{% load static %}

{% for message in messages %}
    <div class="card mb-4 highlight-effect{{ forloop.counter0 }}">
        <div class="card-paddings card-body" id="main-card{{ forloop.counter0 }}">
            <h5 class="card-title mb-2" id="title-id{{ forloop.counter0 }}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" id="datepub-id{{ forloop.counter0 }}"></h6>
            <h6 class="card-subtitle mb-2 text-muted" id="tags-id{{ forloop.counter0 }}"></h6>
            <textarea readonly class="form-control" id="body-id{{ forloop.counter0 }}" rows="5" style="resize: none;">{{ slug_ne.slug }}</textarea>
            <div style="height: 10px;"></div>
            <button class="btn btn-success btn-sm" onclick="copyToClipboard('#body-id{{ forloop.counter0 }}')">Копировать</button>
        </div>
    </div>
{% endfor %}

<script type="text/javascript">
    var json_url = 'http://127.0.0.1:8000/messages-{{tag_arg|lower}}/?format=json';
    console.log(json_url)
</script>
<script src="{% static 'js/getjson.js' %}" charset="utf-8"></script>

<script src="{% static 'js/copymessage.js' %}" charset="utf-8"></script>
