{% extends 'user_model/base.html' %}

{% block content %}
    <div class="row message-mainpage-template">
        <div class="col-lg-4 col-md-6">
            <form>
                <div class="form-group">
                    <label for="inputStartDate">Введите дату начала поиска</label>
                    <input type="text" class="form-control" id="inputStartDate" placeholder=" " name="start_date">
                    <small class="form-text text-muted">Пример: 18.07.2017 01:20</small>
                </div>
                <div class="form-group">
                    <label for="inputEndDate">Введите дату окончания поиска</label>
                    <input type="text" class="form-control" id="inputEndDate" placeholder=" " name="end_date">
                    <small class="form-text text-muted">Пример: 14.10.2017 18:30</small>
                </div>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-3"></div>
        <!-- <div class="col-3"></div> -->
    </div>


    <div class="row">
        <!-- <form class="form-inline my-2 my-lg-0" action="{% url 'find_message' %}">
            <input class="form-control mr-sm-2" type="text" placeholder=" " aria-label="Search" name="start_date">
            <input class="form-control mr-sm-2" type="text" placeholder=" " aria-label="Search" name="end_date">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form> -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br>
            {{ error_message }}
            <br>
            {% for message in messages %}
                {% include 'user_model/includes/slug_message_template.html' %}
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
