{% extends 'user_model/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for message in messages %}
                <div class="message-mainpage-template">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ message.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ message.date_pub|date:'H:i:s, d M Y'}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% for tag in message.tags.all %}
                                    {{ tag }}
                                {% endfor %}
                            </h6>
                            <textarea readonly class="form-control" rows="6" style="resize: none;">{{ message.body|striptags }}</textarea>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
