<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- <script type="text/javascript">
        window.setTimeout(function () {
        location.href = "http://localhost:8000/message/1578576297/";
    }, 5000);
    </script> -->
</head>
<body>
    <h3>
        {% if request.user.is_authenticated and request.user.is_admin %}
            <p>
                <a href="{% url 'homepage' %}">Home</a> |
                <a href="{% url 'logout' %}">Logout</a> |
                <a href="{% url 'usercreate' %}">Create User</a> |
                <a href="/admin/">Admin Panel</a> |
                <a href="{% url 'create' %}">Create Message</a>
            </p>
            <p>{{ request.user.username|upper }} </p>
        {% elif request.user.is_authenticated %}
            <p>
                <a href="{% url 'homepage' %}">Home</a> |
                <a href="{% url 'logout' %}">Logout</a> |
                <a href="{% url 'create' %}">Create Message</a>
            </p>
            <p>{{ request.user.username|upper }} </p>
        {% else %}
            <p>
                <a href="{% url 'homepage' %}">Home</a> |
                <a href="{% url 'login' %}">Login</a>
            </p>
        {% endif %}
    </h3>
    <br><br>

    {% block content %}
        you content here
    {% endblock %}


</body>
</html>
