{% extends 'user_model/base.html' %}

{% block content %}

    <form class="form-inline my-2 my-lg-0" action="{% url 'find_message' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <br>
    {{ sq }}
    <br>
    {{ error_message }}
    <br>

    <!-- <form class="form-inline my-2 my-lg-0" action="{% url 'find_message' %}">
        {{ form }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <br>

    <!-- id="id_date" type="text", name="date" -->
    <br>

    {% for message in messages %}
        {{ message.title }}
        <!-- {{ message.date_pub }} -->
        {{ message.date_pub|date:'H:i:s, d.m.Y' }}
        <br>
    {% endfor %}





    <!-- <div class="row">
        <div class="col-lg-7">
            <div class="message-form">
                <h2>Поиск сообщений</h2>
                <br>
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary" style="padding-left: 20px; padding-right: 20px">Отправить</button>
                </form>
                <br><br>
            </div>
        </div>
    </div> -->
{% endblock %}
