{% extends 'user_model/base.html' %}

{% block content %}
    <h2>Messages:</h2>

    {% for message in messages %}
        <div>
            <h4><a href="{% url 'message_detail' slug=message.slug %}">{{ message.title }} \\ {{ message.date_pub|date:'d M Y, H:i:s' }}</a></h4>
            {{ message.body|linebreaks }}
        </div>
            <br>
    {% endfor %}
    <br><br>

    <h3>Tags:</h3>
    <h3>
        {% for tag in tags %}
            {{ tag.title }}
            <!-- {{ tag.t_messages.all }} -->
            <br>
        {% endfor %}
    </h3>
{% endblock %}
