{% extends 'user_model/base.html' %}

{% block title %}
    Создание пользователя
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="margin-class">
                <h3>Обновить информацию пользователя:</h3>
                {% if messages %}
                    <div class="search-alert alert alert-success" role="alert">
                        <h5>Данные обновлены!</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <div class="margin-class">
                {% if request.user.is_authenticated and request.user.is_admin %}
                    <form method="post">
                        {% csrf_token %}

                        {% for field in user_update_form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}

                            {% if field.help_text %}
                                <small style="color: grey;">{{ field.help_text }}</small>
                            {% endif %}

                            {% for error in field.errors %}
                                <small style="color: red;">{{ error }}</small>
                            {% endfor %}
                        </p>
                        {% endfor %}

                        {% if user_update_form.non_fields_errors %}
                            <small style="color: red;">{{ user_update_form.non_fields_errors }}</small>
                        {% endif %}

                        <button type="submit" class="btn btn-primary" style="padding-left: 20px; padding-right: 20px">Create</button>
                    </form>
                {% else %}
                    <h2>Доступ запрещен!</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
