<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    {% if request.user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">{{ request.user.username|upper }}</a>
    {% else %}
        <a class="navbar-brand mx-auto" href="{% url 'homepage' %}">Рассылка сообщений по рейсам</a>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_admin %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% include 'user_model/includes/nav_item_admin.html' %}
            {% include 'user_model/includes/nav_item_template.html' %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% include 'user_model/includes/nav_item_logout.html' %}
        </ul>
    </div>
    {% elif request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% include 'user_model/includes/nav_item_template.html' %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% include 'user_model/includes/nav_item_logout.html' %}
        </ul>
    </div>
    {% else %}
    {% endif %}
</nav>
